        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/call-to-action.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Application Form</h1>
                                <p class="mb-4">we are committed to nurturing a generation of lifelong learners and future leaders. Our school provides a dynamic and inclusive learning environment that promotes academic excellence, creativity, and personal growth.
                                </p>
                                <a target="_blank" class="btn btn-primary py-3 px-5" href="https://sites.google.com/view/mercyland-application/home">Get Started<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->